html, body {
  height: 100%;
  margin: 0;
}

body {
  background-image: url("./images/storm-bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.container {
  background: rgba(53, 0, 77, 0.8); 
  width: 180px;
  max-width: 90vw;
  padding: 25px;
  border-radius: 14px;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.3);

  
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

.form-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start; 
  width: 100%;
  max-width: 350px;
}

.form-group label {
  margin-bottom: 4px;
  font-weight: bold;
  color: #fff; 
}

h1 {
  font-size: clamp(18px, 6vw, 28px); /* auto scales down */
  margin: 0 0 8px;
  line-height: 1.1;
  text-align: center;

  background: linear-gradient(
    to right,
    #ff0000,
    #ff9900,
    #ffff00,
    #00ff00,
    #00ccff,
    #6633ff,
    #ff33cc
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.4);
  letter-spacing: 2px;
}
